In [29]:
#dependencies
from config import api_key
from citipy import citipy
import json
import requests
import csv
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
#building base query url
url=f"http://api.openweathermap.org/data/2.5/weather?appid={api_key}&units=imperial&q="

In [31]:
namelist=[]
dataframe = pd.DataFrame(columns=["City Name", "Latitude", "Longitude", "Temperature", "Humidity", "Clouds", "Wind"])
x=0
while 1: #fills the base dataframe with random latitudes and longitudes
    if len(namelist)<500:
        lat= (random.random()* 180) - 90 #returns a random latitude- any number from -90 to +90
        lon= (random.random()* 360) - 180 #returns a random longitude- any number from -180 to +180
        name = str(citipy.nearest_city(lat,lon).city_name)
        try: #in case a city name from citipy is not recognized by open weather map
            if name not in namelist: #makes sure that no cities are repeated
                response = requests.get(url+name).json()
                dataframe.loc[x,"City Name"] = response["name"]
                dataframe.loc[x,"Latitude"] = response["coord"]["lat"]
                dataframe.loc[x,"Longitude"] = response["coord"]["lon"]
                dataframe.loc[x,"Temperature"] = response["main"]["temp"]
                dataframe.loc[x,"Humidity"] = response["main"]["humidity"]
                dataframe.loc[x,"Clouds"] = response["clouds"]["all"]
                dataframe.loc[x,"Wind"] = response["wind"]["speed"]
                x=x+1
                namelist.append(name)
        except:
            print()
    else:
        break

#still need to create print log and csv but otherwise this is DONE.

In [32]:
dataframe

               City Name Latitude Longitude Temperature Humidity Clouds   Wind
0                  Kapaa    22.08   -159.32        68.7       83     90  10.29
1          Mar del Plata   -46.43    -67.52       46.71       91      0   10.2
2                Ushuaia   -54.81    -68.31        46.4       70     40  18.34
3                Rikitea   -23.12   -134.97       80.79      100     88  16.93
4              Busselton   -33.64    115.35        71.7       95    100  19.17
5                 Hobart   -42.88    147.33          59       58     75  13.87
6          Prince Rupert    54.32   -130.32        37.4       93     90   6.93
7                  Vaini    15.34     74.49       92.75       39     12   6.96
8            Yerbogachen    61.28    108.01       25.56       53     76   8.97
9                 Kodiak    39.95    -94.76        42.8       75     90  10.29
10                Albany    42.65    -73.75       27.86       55      1   8.05
11                Dayong    11.74    122.04       81.95       96      8  20.83
12             Jamestown   -33.21     138.6       67.55       46      0   7.07
13                  Mayo    63.59    -135.9        10.4       30      5   2.59
14        Saint-Philippe    45.36    -73.48       26.56       68      1   9.17
15          Punta Arenas   -53.16    -70.91        46.4       61      0  11.41
16             Sinnamary     5.38    -52.96       78.17      100     92   9.19
17               College    64.86    -147.8       24.84       32      1   6.93
18               Qaanaaq    77.48    -69.36      -29.61       47      0    3.6
19             Saskylakh    71.97    114.09       -8.33       78     68  16.24
20         San Cristobal    -0.39    -78.55        55.4       87     75   6.93
21               Kurilsk    45.23    147.88       33.39       93      8    8.3
22           Belaya Gora    68.54    146.19        5.27       84      0   4.61
23                 Medea    36.27      2.77        48.2       93     75   6.93
24       Arraial do Cabo   -22.97    -42.02       77.18       89      0  17.36
25   Ouro Preto do Oeste   -10.75    -62.22       71.82       85     64   5.39
26                Lompoc    34.64   -120.46       50.31       71      1  12.75
27           East London   -33.02     27.91        62.6       63     40   8.05
28              Arequipa    -16.4    -71.54        55.4       76      0   2.24
29                Kharan    28.58     65.42       73.62       57      0   3.71
..                   ...      ...       ...         ...      ...    ...    ...
470          Reconquista   -29.14    -59.64       50.76       86      0   7.63
471                Adrar    27.87     -0.29        60.8       12      0  11.41
472             Macaubas   -13.02     -42.7       62.42       90     44   4.16
473              Okhotsk    59.36    143.24        23.9       89      0   6.17
474               Jieshi    22.82    115.83       73.76       74      0   8.75
475       Cap Malheureux   -19.98     57.61        75.2       94     75  12.21
476                 Hovd    63.83      10.7       20.34       85      0   6.93
477                Basco    40.33     -91.2       36.68       69      1  16.11
478               Eureka     40.8   -124.16       42.78       75      1    4.7
479            Surkhakhi    43.19      44.9       39.06      100     88   2.93
480    Anzhero-Sudzhensk    56.08     86.02       27.68       83     80   7.18
481       Cabo San Lucas    22.89   -109.91       71.73       73      5    4.7
482       Gornopravdinsk    60.06     69.92       22.46       78     32   7.96
483                Conde   -11.81    -37.61       75.74       95     88   4.16
484                Tambo   -24.88    146.25       86.31       46     20  11.43
485              Norfolk    36.85    -76.29       39.96       65     40  24.16
486             Tamiahua    21.28    -97.45       75.74       88      0  15.57
487             Am Timan    11.04     20.28       82.49       51      0   7.63
488                Acari    -6.44    -36.64       69.84       97     80   4.16
489             Zhigansk    66.77    123.37       23.82       77     76  12.57
490                Loiza    18.43    -65.88        75.2       88     40   9.64
491              Labuhan    -2.54    115.51       83.84       75     48   3.27
492            Mogadishu     2.04     45.34       82.17       99      0  17.47
493            Karpogory       64     44.44       17.37       77     20   5.28
494                Birao     10.3     22.78        80.2       37     32   2.17
495               Koster   -25.86      26.9        60.8       87     48   4.16
496            Namatanai    -3.66    152.44       83.61       99     44   6.73
497           Valleyview    55.07   -117.28       16.79       84     64   4.94
498                 Uray    60.13      64.8       24.98       77     32  11.43
499               Burnie   -41.05    145.91       60.66      100     32  27.31

[500 rows x 7 columns]

Edgewater                1
Lasa                     1
Sept-Iles                1
San Alberto              1
Boa Vista                1
Kathu                    1
La Asuncion              1
Kaeo                     1
Chuguyevka               1
Saint-Louis              1
Yamada                   1
Bonthe                   1
Macaubas                 1
Djambala                 1
Imeni Poliny Osipenko    1
Ostrovnoy                1
Birao                    1
Lubao                    1
Waverly                  1
Severo-Kurilsk           1
Novyy Urengoy            1
Doha                     1
Lata                     1
Gorontalo                1
Orikum                   1
Busselton                1
Sabalgarh                1
Torbay                   1
Osa                      1
Praya                    1
                        ..
Ola                      1
Hirara                   1
Matara                   1
Eureka                   1
Ambon                    1
Okhotsk                  1
Bathsheba                1
Bullhead City            1
Udaipura                 1
Kodinsk                  1
Arraial do Cabo          1
Ust-Ilimsk               1
Brae                     1
Orlik                    1
Palmerston               1
Sola                     1
Kerema                   1
Peniche                  1
Makakilo City            1
Ouro Preto do Oeste      1
Saint-Philippe           1
Biak                     1
Port Hardy               1
Bar Harbor               1
Cap Malheureux           1
Mayo                     1
Waitati                  1
Kavaratti                1
Taoudenni                1
Jieshi                   1
Name: City Name, Length: 500, dtype: int64