In [157]:
#dependencies
from config import api_key
!pip install citipy
from citipy import citipy
!pip install openweathermapy
import json
import requests
import csv
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Requirement already satisfied: citipy in c:\users\kfw32\anaconda3\envs\pythondata\lib\site-packages
Requirement already satisfied: kdtree>=0.12 in c:\users\kfw32\anaconda3\envs\pythondata\lib\site-packages (from citipy)
Requirement already satisfied: openweathermapy in c:\users\kfw32\anaconda3\envs\pythondata\lib\site-packages

In [158]:
#building base query url
url=f"http://api.openweathermap.org/data/2.5/weather?appid={api_key}&imperial&q="

In [159]:
dataframe = pd.DataFrame(columns=["City Name", "Latitude", "Longitude", "Temperature", "Humidity", "Clouds", "Wind"])
dataframe

Empty DataFrame
Columns: [City Name, Latitude, Longitude, Temperature, Humidity, Clouds, Wind]
Index: []

In [160]:
for x in range(500): #fills the base dataframe with 500 random latitudes and longitudes
    lat= (random.random()* 180) - 90 #returns a random latitude- any number from -90 to +90
    lon= (random.random()* 360) - 180 #returns a random longitude- any number from -180 to +180
    dataframe.loc[x,"Latitude"] = lat
    dataframe.loc[x,"Longitude"] = lon
    dataframe.loc[x,"City Name"] = citipy.nearest_city(lat,lon).city_name

dataframe.head()

  City Name Latitude Longitude Temperature Humidity Clouds Wind
0   mataura -80.5831  -143.955         NaN      NaN    NaN  NaN
1   xanxere -26.9357  -52.3753         NaN      NaN    NaN  NaN
2     kapaa  24.3208  -173.844         NaN      NaN    NaN  NaN
3   rikitea -42.7836  -120.177         NaN      NaN    NaN  NaN
4    lompoc  28.6724  -127.219         NaN      NaN    NaN  NaN